<div class="box">
  <div class="cards">
  <form action="/answer">
  <div class="input-container" >
     <input class="question" type="text" name="answer" placeholder="what is your question?"/>
     <input class="btn" type="submit" value="Ask!">
  </div>
</form>
</div>
</div>
